<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="pt-0">
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow sticky-top" >
        <a class="navbar-brand" href="#">E-Bill</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                @Html.ActionLink("Home","Index","Home",null,new {@class= "nav-link active" })
                @Html.ActionLink("View Bills","Index","EBILL",null,new {@class= "nav-link active" })
                @Html.ActionLink("Create Bill","create","EBILL",null,new {@class= "nav-link active" })
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
       
    </div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
</body>
</html>
